*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #39a6b2;
    font-family: Helvetica, Arial, sans-serif;
  }

header {
    padding: 20px 35px;
    background-color: #39a6b2;
    /*displaying flexbox, just this alone gets all the header alligned*/
    display: flex;
    justify-content: space-between;  /*uses the unused space between two elements and spaces it out*/
    flex-wrap: wrap;
}

header h1{
    font-weight: bold;
    font-size: 36px;
    color: #fce138;
    margin: 0;
}

header a {
    text-decoration: none;
    color: #fce138;
}

header nav{
    margin: 7px 0;
}

header nav ul li {
    display: inline;
    flex-wrap: wrap; /*allows the content to be able to wrap*/
    justify-content: space-between; /*uses the unused space between two elements and spaces it out*/
    align-items: center; /*moves items inside the flex on the Y-axis.  so able to go up or down or stetech, or center*/
    list-style: none; /*removes the bullet points image, able to change the styles with this*/
}

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 1.5vw; /*different value for font size, instead of px we use vw*/
}

/* Hero Style Start */
.hero {
  background-image: url('../images/hero-bg.jpg');
  /*height: 600px; - initially started but since we using flexbox, this is not used anymore*/
  background-size: cover;
  background-position: center;
  /*position: relative;  - initially started but since we using flexbox, this is not used anymore*/
}
/* Hero Style End */

.hero-form {
  border: 3px solid #024e76;
  background-color: #fce138;
  padding: 20px;
  color: #024e76;
  justify-content:center;
  width: 40%; /*using % instead of px, helps with the adjustment of view based on platform of use*/
  margin: 3.5%;
  /*position: absolute; -from here to width V
  bottom: 120px;
  right: 140px;
  width: 500px;     - initially started but since we using flexbox, this is not used anymore*/
}

.hero-form h3 {
  font-size: 24px;
  margin: 0;
}
.hero-form p {
  margin: 5px 0 15px 0;
}

.form-input {
  border: 1px solid #024e76;
  display: block;
  padding: 7px 15px;
  font-size: 16px;
  color: #024e76;
  width: 100%;
  margin-bottom: 15px;
}

.hero-form label {
  margin: 0 5px;
}

.hero-form button {
  color: #fce138;
  background-color: #024e76;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
}

.hero-cta{
    width: 35%;
    text-align: right;
    margin: 3.5%;
    color: #fff;
    font-size: 18px;
    line-height: 1.3;
}

.hero-cta h2{
    font-style: italic;
    font-size: 55px;
    color: #fce138;
}

/* for What we do*/
  .intro {
    text-align: center;
}

.intro p {
    line-height: 1.7;
    color: #39a6b2;
    width: 80%;
    font-size: 20px;
     /* since width has been shrunk, less than 100%, we use margin: 0 auto to help even the boarders, thus centering the text*/
    margin: 0 auto;
  }

/*What You Do*/
.steps {
    text-align: center;
    background: #fce138;
}

/*sets the border colors for all the sections, thus including the .primary, .secondary ... below*/
.section-title {
    font-size: 55px;
    display: inline-block;
    padding: 0 100px 20px 100px;
    border-bottom: 3px solid;
    margin-bottom: 35px;
    color: #024e76;
}

.primary-border {
    border-color: #fce138;
}

.secondary-border {
    border-color: #39a6b2;
}

.steps div{
    margin-bottom: 80px;
}

.steps img {
    width: 15%;
    margin: 10px 0;
}

.steps h3{
    color: #024e76;
    font-size: 46px;
    margin-top: 10px;
}

.steps p{
    color: #39a6b2;
    font-size: 23px;
}
/* used to get h1,2,3 to arrange size in <p> */
.steps span {
    font-size: 38px;
}

/*trainer section */
.trainers{
    text-align: center;
}
    /*below, text-left & text-right, are utility tools to align the texts, no generic name so it can be applyed to the html */
.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}
.trainer{
    width: 900px;
    margin: 0 auto 30px auto;
    background: #024e76;
    color: #fce138;
    /* overflow helps tell <article> that there is content inside them and it needs to look for it and take accountable for the file, in turn, centering everything and matching the style */
    overflow: auto;
}

.trainer img{
    width: 35%;
    float: left;
}

.trainer-bio{
    padding: 35px;
    float: left;
    width: 65%;
}

.trainer-bio h3 {
    font-size: 32px;
    margin-bottom: 8px;
}

.trainer-bio h4 {
    font-weight: lighter;
    font-size: 26px;
    margin-bottom: 25px;
}

.trainer-bio p {
    font-size: 17px;
    line-height: 1.3;
}

/*footer start*/
footer {
    background: #fce138;
    width: 100%;
    padding: 40px 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer h2 {
    color: #024e76;
    font-size: 30px;
    margin: 0;
}

footer div {
    line-height: 1.5;
    text-align: right;
}

footer a{
    color: #024e76;
}

/*footer ends*/

/*adds spacing for each section*/
section {
    padding: 60px;
}

/*start of contact-info*/
.contact{
text-align:center;
background-color:#024e76;
}

.contact h2{
color:#fce138;
}

.contact-info iframe{
width: 400px;
height: 400px;
}
/* adjusts image and text to be left and right*/
.contact-info div{
    width: 410px;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    margin: 30px 0 0 60px;
    color: white;
}

.contact-info h3{
    color: #fce138;
    font-size: 32px;
}

.contact-info p, .contact-info address{
    margin: 20px 0;
    line-height: 1.5;
    font-size: 20px;
    font-style: normal;
}

.contact-info a{
    color: #fce138;
}
/*Reach out styles end*/


